.clock-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
    background-color: transparent;
    color: white;
}

.clock {
    width: 100%;
    max-width: 1000px;
    height: auto;
    aspect-ratio: 1 / 1;
}

.clock circle[stroke] {
    stroke: white;
    fill: transparent;
}

.clock line[stroke] {
    stroke: white;
}

.clock .number {
    font-family: serif;
    font-size: calc(min(3vw, 20px));
    font-weight: bold;
    fill: white;
}

.clock .number[data-script="hebrew"] {
    font-family: 'Bona Nova', sans-serif;
    font-weight: 700;
}

.clock .number[data-script="eastern-arabic"] {
    font-family: 'Amiri', serif;
    font-weight: 700;
}

.clock-container #script-select {
    padding: 8px;
    font-size: max(16px, 2vw);
    border-radius: 4px;
    min-width: max-content;
    width: auto;
    background-color: transparent;
    color: white;
    border-color: white;
}

.clock-container #script-select:focus {
    outline-color: white;
}

.clock .second-hand {
    stroke: #71f859;
}

.clock .hand {
    stroke: white;
    fill: none;
}

.clock .center-dot {
    stroke: #000000;
}