<!DOCTYPE html>
<html lang="en">
<head>
    {% include seo.md %}
    {% include css.md %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">    
</head>
<body>
    <div class="pagecontents">
        {% include navbar.md %}
        <h1 class="page-title">{{ page.title }}</h1>
        <div class="container">
            {{ content }}
        </div>
        {% include footer.md %}
    </div>
</body>
</html>